<div class="container-md px-4">
  <div class="img">
    <div>
      <img src="assets/img/request_chatroom.png"  height="300px" width="300px" alt="" />
    </div>
  </div>
  <div class="header">
    <mat-card-title>Request New Room</mat-card-title>
  </div>
  <p>
    You have successfully submitted your request for Chatroom, you will be soon
    infromed about the status of your request via email
  </p>
  <ul>
    <li><b>Chatroom Name</b></li>
    room name
    <li><b>Requested By:</b></li>
    tset
    <li><b>Objective of Chatroom</b></li>
    test
  </ul>
  <div class="button">
    <button mat-dialog-close mat-raised-button class="btnCreate" type="submit">
      Done
    </button>
  </div>
</div>
