<!--------------------------------------- SIDE NAVIGATION BAR --------------------------------------->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
      integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <ul class="nav-list">
        <li>
          <a [routerLink]="['/']">
            <i class="bx bx-home-alt"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a (click)="openDialog()">
            <i class="bx bx-edit"></i>
            <span class="links_name">Create</span>
          </a>
          <span class="tooltip">Create Post</span>
        </li>
        <li>
          <a [routerLink]="['/user-profile']">
            <i class="bx bx-user"></i>
            <span class="links_name">Profile</span>
          </a>
          <span class="tooltip">Profile</span>
        </li>
        <li class="profile">
          <a href (click)="logout()">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
        <li>
          <a [routerLink]="['/user-chat']">
            <i class="bx bx-globe"></i>
            <span class="links_name">Chat</span>
          </a>
          <span class="tooltip">GChat</span>
        </li>
        <li>
          <a (click)="appInfo()">
            <i class="bx bx-info-circle"></i>
            <span class="links_name">About Us</span>
          </a>
          <span class="tooltip">About Us</span>
        </li>
      </ul>
    </div>
    <!-- --------------------------------------HOME SECTION--------------------------------------------- -->
    <section class="home-section">
      <nav class="navbar navbar-light bg-light">
        <span class="label">Student's Profile</span>
      </nav>
      
      <div class="row" style="margin-left: 0.5%">
        <div class="col col-md-6" style="margin-top: 5%"><ng-container *ngIf="student">
          <div class="col col-md-8">
            <div class="post-card" fxLayoutAlign="start start" fxFlexFill>
              <div class="card" fxFlex="100">
                <div class="row">
                  <div class="col-sm-1">
                    <div class="card-body">
                      <div class="avatar">
                        <img class="id_img" src="{{ student.avatar_fld }}" alt="" />
                      </div>
                      <button type="button" class="change-avatar">
                        <input type="file" id="file" accept="image/*" />
                        <label for="file">
                          <i class="bi bi-camera text-light"></i> &nbsp;
                        </label>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="id_container">
                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Name</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id"
                        >{{ student.fname_fld }} {{ student.mname_fld }}
                        {{ student.lname_fld }}</mat-card-content
                      >
                    </div>
                  </div>

                  <hr />

                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Student ID</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id"
                        >{{
                          student.studid_fld
                        }}</mat-card-content
                      >
                    </div>
                  </div>

                  <hr />

                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Program</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id"
                        >{{
                          student.program_fld
                        }}</mat-card-content
                      >
                    </div>
                  </div>

                  <hr />

                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Department</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id"
                        >{{
                          student.dept_fld
                        }}</mat-card-content
                      >
                    </div>
                  </div>
                  <hr />
                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Email</mat-card-subtitle
                      >
                    </div>
                    <div style="text-align: center" class="two">
                      <mat-card-content class="cards_wrap_id"
                        >{{
                          student.email_fld
                        }}</mat-card-content
                      >
                    </div>
                  </div>
                </div>
                <div class="id_card-btn">
                  <!-- <button
                  (click)="changePassword()"
                    class="id_btn"
                    mat-raised-button
                  > -->
                  <button
                    class="id_btn"
                    mat-raised-button
                  >
                    Change Password
                  </button>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
</div>





<div class="col col-md-7" style="margin-top: 5%; margin-left: -15%">
  <div class="row" style="text-align: center; margin-left: 0px">
    <div class="col-sm-3.5">
      <button type="button" class="seg-posts" [routerLink]="['/user-profile']">Posts</button>
    </div>
    <div class="col-sm-3.5">
      <button class="seg-cares" [routerLink]="['/user-profile-cares']">Cares</button>
    </div>
  </div>
  <div class="post-card" fxLayoutAlign="start start" fxFlexFill>
    <div class="card" fxFlex="100">
      <div class="row">
        <div class="col-sm-1">
          <div class="card-body">
            <div class="posts-avatar">
              <img class="id_img" src="{{ student.avatar_fld }}" alt="" />
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card-body">
            <p class="card-title">Lee Ji Eun</p>
            <p class="card-subtitle">BSCS</p>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="drop-down">
            <mat-card-actions class="posts_btn-container">
              <button
                class="posts_btn"
                mat-icon-button
                [matMenuTriggerFor]="option"
              >
                <i class="bx bx-dots-horizontal-rounded"></i>
              </button>
              <mat-menu #option="matMenu">
                <!-- <button mat-menu-item (click)="editPost()"> -->
                  <button mat-menu-item>
                  <i style="margin-right: 8%" class="bx bx-edit"></i
                  >Edit
                </button>
                <mat-divider
                  style="width: 90%; margin-left: 5%"
                  class="posts_mat-divider"
                ></mat-divider>
                <!-- <button mat-menu-item (click)="deletePost()"> -->
                  <button mat-menu-item >
                  <i
                    style="margin-right: 8%; color: red"
                    class="bx bx-trash"
                  ></i
                  >Delete
                </button>
              </mat-menu>
            </mat-card-actions>
          </div>
        </div>
      </div>
      <div class="card-content">
        <p>
          I love Olongapo City! I love Gordon College! I love Olongapo
          City! I love Gordon College! I love Olongapo City! I love
          Gordon College! I love Olongapo City! I love Gordon College! I
          love Olongapo City! I love Gordon College!
        </p>
      </div>
    </div>
  </div>
</div></div>
    </section>
  </body>
</html>
