<div class="container">
  <div style="text-align: center">
    <mat-card-title>Leave Room?</mat-card-title>
  </div>
  <div class="wrapper">
    <mat-card-subtitle class="subtitle"
      >Are you sure you want to leave this group?
    </mat-card-subtitle>
  </div>
  <div mat-card-actions class="actions">
    <div>
      <button
        mat-dialog-close
        mat-raised-button
        class="btnCancel"
        type="button"
        data-dismiss="modal"
      >
        Cancel
      </button>
    </div>
    <div style="margin-bottom: 0.8vmin">
      <button mat-raised-button class="btnLeave">
        Leave
      </button>
    </div>
  </div>
</div>
