<h2 mat-dialog-title>Terms of Service, Rules and Policies</h2>
<mat-dialog-content class="mat-typography justify">
  <h3 style="font-weight: 500">Introduction</h3>
  <p>
    GCIAN builds technologies and services that enable students of Gordon
    College to connect with each other, build communities, and learn together.
    These Terms govern your use of GCIAN and the other features, apps, services,
    technologies, and software we offer (the Gordon College applications),
    except where we expressly state that separate terms (and not these) apply.
    These applications are provided to you by Gordon College.
  </p>

  <h3 style="font-weight: 500">Changes to Terms</h3>
  <p>
    The Terms and Condition may be updated by us from time to time. We will post
    any changes that we make on this page and will indicate at the top of the
    page (or on the first page of any Additional Terms) the date that the
    relevant terms were last revised. Your continued use of our website and/or
    Services after any such changes have been made, constitutes your acceptance
    of the new General Terms and/or Additional Terms. If you do not agree to
    these changes, please do not use or access (or continue to use or access)
    our website and/or Services.
  </p>

  <h3 style="font-weight: 500">Registration by you and your GCIAN account</h3>
  <p>
    Once you're officially enrolled in Gordon College, the school admin will
    provide you your own domain email, e.g. 202110140@gordoncollege.edu.ph, that
    you may use to access your school email and other Gordon College
    applications. We may suspend your account and any or all rights that you
    have been granted to make use of our application, if you were unable to
    follow the basic guidelines.
  </p>

  <p>
    You are responsible for maintaining the confidentiality of your username and
    password and are fully responsible for all activities that occur under your
    password or account. You agree to (a) immediately notify us of any
    unauthorised use of your account and any other breach of security, and (b)
    ensure that you exit from your account at the end of each session. We will
    not be liable for any loss or damage arising from your failure to comply
    with these obligations.
  </p>

  <p>
    You agree that we have no responsibility or liability for the deletion or
    failure to store any messages, other communications or other content
    maintained or transmitted by our Services.
  </p>

  <p>
    We reserve the right to de-activate accounts that are inactive or not
    enrolled in the Gordon College anymore.
  </p>

  <h3 style="font-weight: 500">User-Uploaded Content</h3>
  <p>
    Our application allow you to upload content ("User-Uploaded Content") for
    the exchange of lawful, relevant, fair and appropriate information,
    opinions, materials and comment with other users. You acknowledge that all
    User-Uploaded Content is the sole responsibility of the person from which
    such content originated. We accept no responsibility for, and do not
    guarantee, the accuracy, integrity or quality of any User-Uploaded Content.
  </p>

  <p>
    Please be aware that any user who is aggrieved by your User-Uploaded Content
    may take legal action against you. This could result in data concerning your
    identity being disclosed and you having to pay compensation to the aggrieved
    party.
  </p>

  <p>
    We do not pre-screen User-Uploaded Content but we have the right to monitor
    User-Uploaded Content if we wish. If we determine that any User-Uploaded
    Content is inappropriate or otherwise objectionable, we may remove any
    User-Uploaded Content from the website without any liability to you or to a
    third party.
  </p>

  <h3 style="font-weight: 500">Your use of our Websites</h3>
  <p>
    You agree that you will not use our application (including Services) to:
  </p>

  <p></p>
  <ul>
    <li><b>Redistribute any of the Content to social media.</b></li>
    <li><b>Post phishing sites.</b></li>
    <li>
      <b>
        Intentionally or unintentionally violate any applicable law or
        regulation.
      </b>
    </li>
    <li><b>Collect or store personal data about other users.</b></li>
    <li>
      <b>
        Use data mining, robot, spider, scraping or similar automated data
        gathering, extraction or publication tools for any purpose.
      </b>
    </li>
  </ul>

  <p>
    We do not pre-screen User-Uploaded Content but we have the right to monitor
    User-Uploaded Content if we wish. If we determine that any User-Uploaded
    Content is inappropriate or otherwise objectionable, we may remove any
    User-Uploaded Content from the website without any liability to you or to a
    third party.
  </p>

  <h3 style="font-weight: 500">Confidential Information</h3>
  <p>
    You acknowledge that any Confidential Information (as defined below) which
    you obtain from your use of our Services constitutes the valuable,
    confidential, proprietary information of GCIAN and its licensors, and you
    agree that you shall not, without our express written consent, use or
    disclose to any other person any such Confidential Information, except as
    specifically authorised under these General Terms or as required by law.
  </p>

  <p>
    For the purposes of these General Terms, "Confidential Information" means
    any and all data, information, documents, software or materials relating to
    the business and management of Educational App Store, its users and members,
    licensors and/or licensees that is designated as confidential or ought
    reasonably to be considered confidential.
  </p>

  <h3 style="font-weight: 500">Modifications to the Website and/or Services</h3>
  <p>
    We reserve the right at any time to modify, suspend or discontinue the
    provision of a Service (or any part thereof) with or without notice. You
    agree that we shall not be liable to you or to any third party for any
    modification, suspension or discontinuance of GCIAN or a Service other than
    as required by law.
  </p>

  <h3 style="font-weight: 500">Complaints about our Website and Services</h3>
  <p>
    If you object to anything on our Website, please let us know by sending an
    email explaining your concern to gcian@gordoncollege.edu.ph and we will take
    whatever action we deem appropriate.
  </p>

  <h3 style="font-weight: 500">Community Guidelines</h3>
  <p class="justify">
    On GCIAN application, freedom of speech must be utilized responsibly. These
    guidelines give a road map for using social networking sites in a
    constructive, respectful, and productive manner.
  </p>
  <ul>
    <li><b>Respect other members of the GCIAN community</b></li>
    <p>
      Respect each other. Take care not to engage in any conduct that would not
      be acceptable in using this app.
    </p>
    <li><b>Provide accurate information</b></li>
    <p>
      Make sure you're not misrepresenting the Gordon College by offering
      inaccurate information.
    </p>
    <li><b>Keep your public image in mind</b></li>
    <p>
      Consider the image you want to portray to the public. Be mindful that what
      you post may be viewed by parents, students, administrators, professors,
      and college, and may stay public for a long time.
    </p>
    <p>
      Make sure you're not misrepresenting the Gordon College by offering
      inaccurate information.
    </p>
    <li><b>Use your best judgment</b></li>
    <p>
      Remember that what you post may have consequences, so think carefully
      about what you share. Always consider what is appropriate.
    </p>
  </ul>

  <h3 style="font-weight: 500">Best Practices</h3>
  <p>Help us keep the community strong by:</p>
  <ul>
    <li><b>File a report</b></li>
    <p>
      Each of us plays a vital role in the GCIAN community. If you see something
      you like, let us know. Please assist us by utilizing our built-in
      reporting feature if you believe someone is violating our guidelines. When
      completing the report, try to provide as much information as possible such
      as the description of the content, so we can review it quickly and make an
      action.
    </p>
    <li><b>Delete comment or post</b></li>
    <p>
      If you believe there's something about your own post or comment that
      you're noticing that could cause fray, delete that immediately.
    </p>
  </ul>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
