<!--------------------------------------- SIDE NAVIGATION BAR --------------------------------------->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="sidebar">
      <ul class="nav-list">
        <li>
          <a href="user-feed">
            <i class='bx bx-home-alt'></i>
            <span class="links_name">Home</span>
          </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
          <a (click)="openDialog()">
            <i class='bx bx-edit'></i>
            <span class="links_name">Create</span>
          </a>
            <span class="tooltip">Create Post</span>
        </li>
        <li>
          <a href="user-trends">
            <i class='bx bx-trending-up' ></i>
            <span class="links_name">Trends</span>
          </a>
            <span class="tooltip">Trends</span>
        </li>
        <li>
        <a href="user-profile">
          <i class='bx bx-user' ></i>
          <span class="links_name">Profile</span>
        </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
          <a href="user-settings">
            <i class='bx bx-cog' ></i>
            <span class="links_name">Settings</span>
          </a>
            <span class="tooltip">Settings</span>
        </li>
        <li class="profile">
            <a href="#">
              <i class='bx bx-log-out' ></i>
              <span class="links_name">Logout</span>
            </a>
              <span class="tooltip">Logout</span>
        </li>
      </ul>
    </div>
<!-- --------------------------------------HOME SECTION--------------------------------------------- -->
  <section class="home-section">
    <mat-toolbar>
      <span class="label">Settings</span>
    </mat-toolbar>

      <div fxLayoutAlign="center start" fxFlexFill>
        <mat-card class="box" fxFlex="80">
            <mat-card-title>Account Information</mat-card-title>
            <mat-card-subtitle>Display Name</mat-card-subtitle>
              <mat-card-content>John Miko Barreyro</mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-subtitle>Gender</mat-card-subtitle>
              <mat-card-content>Lorem Ipsum</mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-subtitle>Password</mat-card-subtitle>
              <mat-card-content>********</mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-subtitle>Change Password</mat-card-subtitle>
              <mat-card-content>********</mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <mat-card-subtitle>Confirm Password</mat-card-subtitle>
              <mat-card-content>********</mat-card-content>

        </mat-card>
      </div>





  </section>
  
</body>
</html>
