@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  width: 100vmin;
  padding: 5rem;
}

.avatar {
  height: 8vmin;
}

.avatar img {
  height: 100%;
  border-radius: 50%;
}

.title {
  font-size: 3vmin;
  font-weight: bold;
  /* margin-top: .6vmin; */
}

.subtitle {
  margin-top: -1vmin;
  font-size: 2vmin;
  color: rgb(114, 114, 114);
}

.card-content {
  margin-top: -1vmin;
  margin-left: 2.5vmin;
  font-size: 2vmin;
}

.image-content {
  justify-content: center; 
  text-align: center;
  margin-bottom: 1vmin;
}

.image-content img {
  height: 30vmin;
  width: 30vmin;
}