<!--------------------------------------- SIDE NAVIGATION BAR --------------------------------------->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="sidebar">
      <ul class="nav-list">
        <li>
          <a [routerLink]="['/']">
            <i class="bx bx-home-alt"></i>
            <span class="links_name">Home</span>
          </a>
          <span class="tooltip">Home</span>
        </li>
        <li>
          <a (click)="addPost()">
            <i class="bx bx-edit"></i>
            <span class="links_name">Create</span>
          </a>
          <span class="tooltip">Create Post</span>
        </li>
        <li>
          <a [routerLink]="['/user-trends']">
            <i class="bx bx-trending-up"></i>
            <span class="links_name">Trends</span>
          </a>
          <span class="tooltip">Trends</span>
        </li>
        <li>
          <a [routerLink]="['/user-profile']">
            <i class="bx bx-user"></i>
            <span class="links_name">Profile</span>
          </a>
          <span class="tooltip">Profile</span>
        </li>
        <li class="profile">
          <a href (click)="logout()">
            <i class="bx bx-log-out"></i>
            <span class="links_name">Logout</span>
          </a>
          <span class="tooltip">Logout</span>
        </li>
      </ul>
    </div>
    <!-- --------------------------------------HOME SECTION--------------------------------------------- -->
  <section class="home-section">
    <mat-toolbar>
      <span class="label">Home</span>
    </mat-toolbar>

    <ng-container *ngFor="let post of posts">
      <div fxLayoutAlign="center start" fxFlexFill>
        <mat-card fxFlex="90" class="example-card">
          <mat-card-header>
            <div mat-card-avatar>
              <img src="{{post.avatar_fld}}" alt="">
            </div>
            <mat-card-title>{{post.fname_fld}} {{post.mname_fld}} {{post.lname_fld}}</mat-card-title>
            <mat-card-subtitle>{{post.program_fld}} | {{post.date_created_TS_fld}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              {{post.content_fld}}
            </p>
          </mat-card-content>
        
          <mat-card-actions (click)="comment(post.post_uid)" class="comment">
            <!-- <button mat-button>Edit</button> -->
            <button mat-button>Comment</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-container>
    
  </section>
  
</body>
</html>