<section class="home-section">
  <nav class="navbar navbar-light bg-light">
    <span class="label">Home</span>
  </nav>

  <div class="flex-container">
    <div style="width: 135vmin">
      <ng-container *ngFor="let post of posts">
        <div>
          <div class="post-card" fxLayoutAlign="start start" fxFlexFill>
            <div class="card shadow" fxFlex="98">
              <div
                style="
                  display: flex;
                  flex-direction: row;
                  flex-wrap: wrap;
                  justify-content: flex-start;
                "
              >
                <div>
                  <div class="card-body">
                    <div class="avatar">
                      <img
                        src="http://localhost:5000/uploads/{{post.avatar_fld}}"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="post-card-details">
                  <div class="card-body">
                    <p class="card-title">
                      {{ post.fname_fld }} {{ post.mname_fld }}
                      {{ post.lname_fld }}
                    </p>
                    <p class="card-subtitle">
                      {{ post.program_fld }}
                    </p>
                  </div>
                </div>
                <div class="drop-down">
                  <mat-card-actions>
                    <button mat-icon-button [matMenuTriggerFor]="option">
                      <i
                        class="bx bx-dots-horizontal-rounded"
                        style="font-size: 3.2vmin"
                      ></i>
                    </button>
                    <mat-menu #option="matMenu">
                      <ng-container
                        *ngIf="student.studid_fld == post.studid_fld"
                      >
                        <button mat-menu-item (click)="editPost(post.post_uid)">
                          <i class="btn_care bx bx-edit"></i>Edit
                        </button>
                        <mat-divider
                          style="width: 90%; margin-left: 5%"
                          class="posts_mat-divider"
                        ></mat-divider>
                        <button
                          mat-menu-item
                          (click)="deletePost(post.post_uid)"
                        >
                          <i class="btn_red bx bx-trash"></i>Delete
                        </button>
                      </ng-container>
                      <ng-container
                        *ngIf="student.studid_fld !== post.studid_fld"
                      >
                        <button
                          mat-menu-item
                          (click)="reportPost(post.post_uid)"
                        >
                          <i class="btn_red bx bx-error"></i>Report
                        </button>
                      </ng-container>
                    </mat-menu>
                  </mat-card-actions>
                </div>
              </div>
              <div class="card-content">
                <p class="content-field">
                  {{ post.content_fld }}
                </p>
                <p class="content-timestamp">
                  {{ post.date_created_TS_fld | date: "short" }}
                </p>
              </div>

              <div class="card-actions">
                <button
                  type="button"
                  class="btn_care"
                  id="post.post_uid"
                  (click)="doLIke(post.post_uid, student.studid_fld)"
                >
                <!---------------------------------------Like ------------------------------------------->
                  <ng-container *ngIf="filterLikeStatus(post.post_uid, student.studid_fld) else doUnlike">
                    <i class="fas fa-heart" style="color: #ea4c46">
                    </i>
                    <span style="color: #ea4c46">
                      {{post.total_likes_fld}}
                    </span>
                  </ng-container>

                <!---------------------------------------Unlike ------------------------------------------->
                <ng-template #doUnlike>
                    <i class="fas fa-heart" style="color: #398547"></i>
                  </ng-template>
                </button>
                <button
                  (click)="comment(post.post_uid)"
                  routerLink="/comment/{{ post.post_uid }}"
                  type="button"
                  class="btn_comment"
                >
                  <i class="fas fa-comment">
                  </i>
                  <ng-container
                    *ngFor="let c of filterComments(post.post_uid)"
                  >
                    {{ c.total_comments }}
                  </ng-container>
                </button>
              </div>
              
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div>
      <div>
        <div class="card trends-card shadow">
          <div class="card-header">Trends</div>
          <div class="trends-container" >
            <ng-container *ngFor="let t of trends; let i = index">
              <ul
                class="list-group list-group-flush"             
              >
                <a
                  href="#"
                  class="list-group-item list-group-item-action flex-column align-items-start"
                >
                  <div class="d-flex w-100 justify-content-between">
                    <h3 class="mb-1"></h3>
                    <small>
                      {{ trends[i].date_created_TS_fld | date: "short" }}
                    </small>
                  </div>
                  <p>
                    {{ trends[i].content_fld }}
                  </p>
  
                  <small>{{ trends[i].total_likes }} Care/s</small>
                </a>
              </ul>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
