<form class="example-form" *ngIf="post" (submit)="doEdit($event)">
  <mat-card-title>Edit post</mat-card-title>
    <mat-form-field class="wrapper" appearance="fill">
      <textarea
        matInput
        id="content" name="content"
        value="{{post.content_fld}}"
        #message
        maxlength="256"
      ></textarea>
      <mat-hint align="end">{{ message.value.length }} / 256 </mat-hint>
    </mat-form-field>
    <div mat-card-actions class="actions">
      <button
        mat-dialog-close
        mat-raised-button
        class="btnCancel"
        type="button"
        data-dismiss="modal"
      >
        Cancel
      </button>
      <button mat-raised-button class="btnSave" type="submit">Save</button>
    </div>
  </form>
  