<form ngNativeValidate name="form" (submit)="createRoom($event)">
  <div style="text-align: center">
    <mat-card-title>Request New Room</mat-card-title>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="roomName" style="margin-bottom: 1vmin;">Please enter a name for the room:</label>
      <input
        class="form-control"
        type="text"
        id="room"
        name="room"
        required
        placeholder="Enter Room Name"
      />
      <br>
      <label for="objectiveChatroom" style="margin-bottom: 1vmin;">Please enter objective of Chatroom:</label>
      <textarea
      matInput
      #message
      class="form-control"
      maxlength="256"
      placeholder="Enter Objective of the Room"
      id="objective"
      name="objective"
      required
    ></textarea>
    <div style="text-align: end;">
      <mat-hint >{{ message.value.length }} / 256 </mat-hint>
    </div>
    </div>
  </div>
  <div mat-card-actions class="actions">
    <button
      mat-dialog-close
      mat-raised-button
      class="btnCancel"
      (click)="cancelClick()"
      data-dismiss="modal"
    >
      Cancel
    </button>
    <button  mat-raised-button class="btnCreate" type="submit" required>Create Room</button>
  </div>
</form>