<form name="form" (submit)="createRoom($event)">
  <div style="text-align: center">
    <mat-card-title>Create New Room</mat-card-title>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="roomName" style="margin-bottom: 1vmin;">Please enter a name for the room</label>
      <input
        class="form-control"
        type="text"
        id="room"
        name="room"
        placeholder="Enter Room Name"
        required
        autofocus
      />
    </div>
  </div>
  <div mat-card-actions class="actions">
    <button
      mat-dialog-close
      mat-raised-button
      class="btnCancel"
      type="button"
      data-dismiss="modal"
    >
      Cancel
    </button>
    <button mat-raised-button class="btnCreate" type="submit">Create Room</button>
  </div>
</form>