@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.container {
  /* height: 43vmin; */
  width: 80vmin;
}

mat-card-title {
  text-align: center;
  font-size: 3.2vmin;
  font-weight: bold;
}

.wrapper {
  margin-top: 1.6vmin;
  width: 100%;
}

mat-label {
  font-size: 2.5vmin;
}

textarea {
  height: 22.4vmin;
  font-size: 2.2vmin;
}

.actions {
  text-align: end;
  margin-top: 1.5vmin;
}

.btnCancel {
  background-color: #b0b0b0;
  color: white;
  margin-right: 2vmin;
  width: 12vmin;
}

.btnCreate {
  background-color: #398547;
  color: white;
  width: 20vmin;
}

button:hover,
button:focus {
  outline: none;
}

.modal-body {
margin-top: 2vmin;
}