    <!-- --------------------------------------HOME SECTION--------------------------------------------- -->
    <section class="home-section">
      <nav class="navbar navbar-light bg-light">
        <span class="label">Dashboard</span>
      </nav>
      <div class="nav-spacer"></div>
      <div class="home-content">
        <div class="overview-panel">
          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-success shadow h-100 py-2"
              style="border-radius: 10px"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-uppercase mb-1"
                      style="color: #4e73df !important"
                    >
                      Total Users
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{totalUsers.total_users}}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user-friends fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-success shadow h-100 py-2"
              style="border-radius: 10px"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-uppercase mb-1"
                      style="color: #51ac61 !important"
                    >
                      New Users
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      {{totalNewUsers.new_users}}
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-user-plus fa-2x text-gray-300"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-success shadow h-100 py-2"
              style="border-radius: 10px"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-uppercase mb-1"
                      style="color: #36b9cc !important"
                    >
                      Total Posts
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <ng-container *ngIf="totalPosts">
                        {{totalPosts.total_posts}}
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i class="fas fa-book-open fa-2x"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 mb-4">
            <div
              class="card border-left-success shadow h-100 py-2"
              style="border-radius: 10px"
            >
              <div class="card-body">
                <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                    <div
                      class="text-xs font-weight-bold text-uppercase mb-1"
                      style="color: rgb(245, 57, 57)"
                    >
                      Total Reports
                    </div>
                    <div class="h5 mb-0 font-weight-bold text-gray-800">
                      <ng-container *ngIf="totalReports">
                        {{totalReports.total_reports}}
                      </ng-container>
                    </div>
                  </div>
                  <div class="col-auto">
                    <i
                      class="fas fa-exclamation-triangle fa-2x text-gray-300"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- --------------------------------------NEXT--------------------------------------------- -->

        <div class="posts-boxes">
          <div class="all-posts-card">
            <div class="title">User Interactions</div>
            <div class="container">
              <canvas id="myChart" width="400" height="200"> </canvas>
            </div>
          </div>

          <div class="trend-card h-100">
            <div class="title">Top Sentiments</div>
            <hr />
            <ng-container *ngFor="let t of trends; let i = index ">
            <div class="trends-card">
                <div>
                  <!-- <div
                    [ngClass]="{ 'show-less': showShortDesciption }"
                    style="margin-left: 5%; margin-right: 5%;"
                  > -->
                  <div>
                    <p><strong> {{t.content_fld}} </strong></p>
                    <p>{{t.total_trends}} Posts</p>
                    <p style="font-size: 0.875rem; color: rgb(114, 114, 114); margin-top: -.8rem">{{t.is_created_at_fld | date: 'short'}}</p>
                  </div>
    
                </div>
              </div>
              <!-- <button class="trends-button" (click)="alterDescriptionText(t.post_uid)">
                {{ showShortDesciption ? "Show More >" : "Show Less" }}
              </button> -->
            </ng-container>
            
          </div>
        </div>
      </div>
    </section>
  