<div class="panels-container">
  <div class="panel left-panel">
    <div class="content">
      <img class="home-image" src="assets/img/admin-login.svg" alt="" />
    </div>
  </div>
</div>
<div class="waves">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#429451"
      fill-opacity="1"
      d="M0,96L60,90.7C120,85,240,75,360,74.7C480,75,600,85,720,117.3C840,149,960,203,
            1080,192C1200,181,1320,107,1380,69.3L1440,32L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,
            320,480,320,360,320C240,320,120,320,60,320L0,320Z"
      style="user-select: auto"
    ></path>
  </svg>
</div>
<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card>
    <mat-toolbar fxLayoutAlign="center center" style="background-color: transparent !important; margin-bottom: 2vmin; font-size: 5vmin;">Welcome ADMIN!</mat-toolbar>
    <form
      [formGroup]="registrationForm"
      class="mx-auto"
      name="form"
      fxLayoutAlign="stretch"
      fxLayout="column"
      ngNativeValidate
      (submit)="login($event)"
    >
      <div class="form-group" style="z-index: 100">
        <div class="input-group" style="height: 4vmin;">
          <input
            class="form-control"
            placeholder="Email Address"
            type="email"
            id="email"
            name="email"
            required
            email
            style="border: none;"
          />
        </div>
        <mat-divider [inset]="true" style="background-color: #495057; margin-bottom: 2vmin;"></mat-divider>
      </div>

      <div class="form-group" style="z-index: 100">
        <div class="input-group" style="height: 4vmin;">
          <input
            [type]="currentPassword ? 'text' : 'password'"
            class="form-control"
            formControlName="password"
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            value="GC_12345678"
            required
            password
            style="border: none;"
          />
          <div class="input-group-append">
            <span class="input-group-text">
              <i
                class="fa"
                [ngClass]="{
                  'fa-eye-slash': !currentPassword,
                  'fa-eye': currentPassword
                }"
                (click)="togglecurrentPassword()"
              ></i>
            </span>
          </div>
          <mat-divider [inset]="true" style="background-color: #71777c;"></mat-divider>
        </div>
      </div>
      <button class="submit" mat-raised-button type="submit" style="margin-top: 2vmin;">LOGIN</button>
      <app-alert></app-alert>
      <!-- <ng-container class="alert alert-warning" *ngIf="isLoginFailed"
        >Log In Failed!, {{ errorMessage }}</ng-container
      >
      <ng-container class="alert alert-warning" *ngIf="isLoggedIn"
        >Your Login</ng-container
      > -->
      <p class="forgotPassword">
        Forgot Password?
        <a class="btnforgotPassword" href="https://www.w3schools.com"
          >Click Here!</a
        >
      </p>
    </form>
  </mat-card>
</div>
