@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.home-section {
  position: relative;
  background: #fff;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
  overflow-y: hidden;
  overflow-x: hidden;
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

.label {
  font-size: 23px;
  margin-top: 5px;
  font-weight: 500;
  /* margin-bottom: 5vmin; */
}

.navbar {
  position: fixed;
  z-index: 95;
  width: 100%;
}

/* -------------------------------------------------------------------------- */

.flex-container {
  display: flex;
  /* flex-direction: row-reverse;  */
  /* float: left; */
  /* padding-top: 3.75rem;  */
  /* padding-left: 3vmin;  */
  /* width: 150vmin; */
  /* margin-left: 10vmin; */
}

.id-container {
  margin-top: 15vmin;
  margin-right: 10vmin;
  margin-left: -2.5vmin;
  position: fixed;
}

section .card {
  border-radius: 15px;
  background: white;
  color: black;
}

.display-picture {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  margin-bottom: 1vmin;
}

.post-card .avatar {
  height: 8vmin;
}

.avatar img {
  height: 250%;
  width: auto;
  border-radius: 50%;
  border: 5px solid #398547;
}

.change-avatar {
  background-color: rgba(135, 135, 135, 0.693);
  border: none;
  border-radius: 50%;
  width: 7vmin;
  height: 7vmin;
  margin-top: 7vmin;
  margin-left: 12vmin;
}

.posts_btn {
  color: black;
  margin-top: -3.5vmin;
  margin-left: -4.5vmin;
}

.bi-camera2 {
  font-size: 3.2vmin;
  color: whitesmoke;
}

input[type="file"] {
  display: none;
}

.bi-images {
  color: black;
  margin-right: 1.5vmin;
  font-size: 2vmin;
}

.bi-camera {
  color: black;
  margin-right: 1.3vmin;
  font-size: 2vmin;
}

.id_details_container {
  display: flex;
  flex-direction: column;
}

.id_container {
  padding: 2vmin;
}

.cards_wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.8vmin;
}

.one {
  flex: 0 0 25vmin;
}

.id_subs {
  margin-left: 1vmin;
  font-size: 2.25vmin;
  color: black;
}

.two {
  flex: 2;
}

.cards_wrap_id {
  font-size: 2.25vmin;
  font-weight: 450;
  color: black;
}

.id_btn {
  text-align: center;
  margin-top: 2vmin;
  margin-bottom: 3vmin;
}

.id_btn-details {
  background: #398547;
  width: 50vmin;
  color: white;
  font-size: 2.2vmin;
}

hr {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  border: 0;
  border-top: 1px solid rgba(135, 135, 135, 0.693);
}

mat-divider {
  border-top-color: rgb(119, 119, 119);
}

/* ------------------------- STUDENT'S ID ENDS HERE ------------------------- */

.posts-container {
  margin-top: 5%;
  margin-left: 38%;
  width: 125vmin;
  display: flex;
  flex-direction: column;
}

.seg-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.seg-posts {
  width: 50vmin;
  border: none;
  background-color: transparent;
  margin-bottom: 2%;
  font-weight: 500;
  font-size: 2.5vmin;
  color: black;
}

.seg-cares {
  width: 50vmin;
  border: none;
  background-color: transparent;
  margin-bottom: 2%;
  font-size: 2.5vmin;
  font-weight: 500;
  border-bottom: 0.4vmin solid #398547;
  color: #398547;
}

.posts-avatar img {
  height: 8vmin;
  width: 8vmin;
  border-radius: 50%;
}

.post-card-posts {
  margin-top: -1.5vmin;
  margin-bottom: 2.5%;
}

.card-actions {
  text-align: center;
}

.drop-down {
  margin-left: 60%;
  margin-top: 2.5vmin;
}

.card-actions .btn_care {
  margin-right: 15vmin;
  border: none;
  background-color: transparent;
  color: #398547;
  font-size: 2.5vmin;
  cursor: pointer;
}

.card-actions .btn_comment {
  margin-left: 25vmin;
  border: none;
  background-color: transparent;
  color: #398547;
  font-size: 2.5vmin;
  cursor: pointer;
}

.card-title {
  font-size: 2.7vmin;
  font-weight: bold;
  margin-bottom: 2%;
}

.card-subtitle {
  font-size: 2vmin;
  color: rgb(114, 114, 114);
  margin-top: -1.2vmin;
}

.card-content {
  font-size: 2.4vmin;
  color: black;
  margin-left: 8.8%;
  margin-top: -2.5rem;
  padding-right: 10vmin;
}

button:hover,
button:focus {
  outline: none;
}

.container{
  margin-left: 20%;
  width: 70vmin;
  display: flex;
  flex-direction: column;

}