<section class="home-section">
  <nav class="navbar navbar-light bg-light">
    <span class="label">Student's Profile</span>
  </nav>
  <div class="flex-container">
    <div class="posts-container">
      <div class="seg-container">
        <button
          type="button"
          class="seg-posts"
          [routerLink]="['/user-profile']"
        >
          Posts
        </button>
        <button
          type="button"
          class="seg-cares"
          [routerLink]="['/user-profile-cares']"
        >
          Cares
        </button>
      </div>
      <ng-container *ngIf="liked_posts?.length === 0 || likes?.length === 0">
        <div class="container">
          <img src="../../../assets/img/no_comment.png" alt="" />
        </div>
        <!-- <strong>No Cares</strong> -->
        <br />
      </ng-container>

      <ng-container *ngFor="let p of liked_posts; let i = index">
        
        <div>

          <div class="post-card-posts" fxLayoutAlign="start start" fxFlexFill>
            <div class="card shadow" fxFlex="100">
              <div class="row">
                <div class="col-md-1">
                  <div class="card-body">
                    <div class="posts-avatar">
                      <img
                        class="id_img"
                        src="https://gordoncollegeccs.edu.ph:4230/uploads/{{
                          likesArr[i].avatar_fld
                        }}"
                        alt=""
                      />
                    </div>
                  </div>
                </div>
                <div class="col-md-10">
                  <div
                    class="card-body"
                    style="display: flex; flex-direction: column"
                  >
                    <p class="card-title">
                      {{ likesArr[i]?.fname_fld }} {{ likesArr[i]?.mname_fld }}
                      {{ likesArr[i]?.lname_fld }}
                    </p>
                    <p>
                      {{likesArr[i]?.program_fld}}
                    </p>
                   
                  </div>
                </div>
                <div class="col-md-1 drop-down">
                  <mat-card-actions class="posts_btn-container">
                    <button
                      class="posts_btn"
                      mat-icon-button
                      [matMenuTriggerFor]="option"
                    >
                      <i
                        class="bx bx-dots-horizontal-rounded"
                        style="font-size: 3.2vmin"
                      ></i>
                    </button>
                    <mat-menu #option="matMenu">
                      <button mat-menu-item (click)="editPost(p.post_uid)">
                        <i style="margin-right: .7rem" class="bx bx-edit"></i>Edit
                      </button>
                      <mat-divider
                        style="width: 90%; margin-left: 5%"
                        class="posts_mat-divider"
                      ></mat-divider>
                      <button mat-men u-item (click)="deletePost(p.post_uid)">
                        <i
                          style="margin-right: .7rem; color: red"
                          class="bx bx-trash"
                        ></i
                        >Delete
                      </button>
                    </mat-menu>
                  </mat-card-actions>
                </div>
              </div>
              <div class="row">
                <div class="col">
                <div class="card-body card-content">
                  <p>
                    {{ p.content_fld }}
                  </p>
                  <ng-container *ngIf="p.img_fld">
                    <img
                      style="height: 50vmin; width: auto; border-radius: 5%; margin-bottom:2%;"
                      src="https://gordoncollegeccs.edu.ph:4230/uploads/{{ p.img_fld }}"
                      alt=""
                    />
                    <br>
                  </ng-container>
                  <p class="card-subtitle">
                    {{ p.date_created_TS_fld | date: "short" }}
                  </p>
                </div>
               
              </div>
            </div>
            
            <div class="card-actions">
              <button
                type="button"
                class="btn_care"
                id="p.post_uid"
                (click)="doLIke(p.post_uid, student.studid_fld)"
              >
                <!---------------------------------------Like ------------------------------------------->
                <ng-container
                  *ngIf="
                    filterLikeStatus(p.post_uid, student.studid_fld);
                    else doUnlike
                  "
                >
                  <i class="fas fa-heart" style="color: #398547"></i>
                  <span style="color: #398547">
                    <ng-container *ngIf="p.total_likes_fld === 0">

                    </ng-container>
                    <ng-container *ngIf="p.total_likes_fld !== 0">
                      {{ p.total_likes_fld }}
                    </ng-container>
                  </span>
                </ng-container>
                <!---------------------------------------Unlike ------------------------------------------->
                <ng-template #doUnlike>
                  <i class="fas fa-heart" style="color: #ea4c46"></i>
                  <span style="color: #ea4c46">
                    {{ p.total_likes_fld }}
                  </span>
                </ng-template>
              </button>
              <button
                (click)="comment(p.post_uid)"
                [routerLink]="['/comment/{{p.post_uid}}']"
                type="button"
                class="btn_comment"
              >
                <i class="fas fa-comment">
                  <ng-container *ngFor="let c of filterComments(p.post_uid)">
                    {{ c.total_comments }}
                  </ng-container>
                </i>
              </button>
            </div>

            </div>
          </div>
        </div>
      </ng-container>
    </div>

    <!-- ---------------------- -->

    <div class="id-container col col-md-6">
      <ng-container *ngIf="student">
        <div class="col col-md-10">
          <div class="post-card" fxLayoutAlign="start start" fxFlexFill>
            <div class="card" fxFlex="90">
              <div class="display-picture" style="padding-top: 1rem !important">
                <div class="avatar">
                  <img
                    class="id_img"
                    src="https://gordoncollegeccs.edu.ph:4230/uploads/{{ student.avatar_fld }}"
                    alt=""
                  />
                </div>
                <div>
                  <button type="button" class="change-avatar">
                    <div class="drop-down">
                      <mat-card-actions>
                        <button
                          class="posts_btn"
                          mat-icon-button
                          [matMenuTriggerFor]="option"
                        >
                          <i class="bi bi-camera2"></i>
                        </button>
                        <mat-menu #option="matMenu">
                          <button mat-menu-item>
                            <input type="file" id="file" accept="image/*" />
                            <label for="file">
                              <i class="bi bi-images"></i>Gallery
                            </label>
                          </button>
                          <mat-divider
                            style="width: 90%; margin-left: 5%"
                            class="posts_mat-divider"
                          ></mat-divider>
                          <button mat-menu-item href (click)="webcam()">
                            <i class="bi bi-camera"></i>Camera
                          </button>
                        </mat-menu>
                      </mat-card-actions>
                    </div>
                  </button>
                </div>
              </div>

              <div class="id_details_container">
                <div class="id_container">
                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Name</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id"
                        >{{ student.fname_fld }} {{ student.mname_fld }}
                        {{ student.lname_fld }}</mat-card-content
                      >
                    </div>
                  </div>

                  <hr />

                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Student ID</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id">{{
                        student.studid_fld
                      }}</mat-card-content>
                    </div>
                  </div>

                  <hr />

                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Program</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id">{{
                        student.program_fld
                      }}</mat-card-content>
                    </div>
                  </div>

                  <hr />

                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Department</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id">{{
                        student.dept_fld
                      }}</mat-card-content>
                    </div>
                  </div>
                  <hr />
                  <div class="cards_wrap">
                    <div class="one">
                      <mat-card-subtitle class="id_subs"
                        >Email</mat-card-subtitle
                      >
                    </div>
                    <div class="two">
                      <mat-card-content class="cards_wrap_id">{{
                        student.email_fld
                      }}</mat-card-content>
                    </div>
                  </div>
                </div>

                <div class="id_btn">
                  <button
                    class="id_btn-details"
                    mat-raised-button
                    (click)="changePassword()"
                  >
                    Change Password
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</section>
