@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-y: hidden;
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  z-index: 100;
}

.waves {
  position: fixed;
  bottom: -1vmin;
  left: 0;
  width: 100%;
  z-index: 20;
}

.mat-card {
  box-shadow: inset 0 0 0px black;
  margin-left: 90vmin;
  margin-top: 10%;
}

.mat-toolbar {
  font-size: 5vmin;
  font-weight: bold;
}

.submit {
  background-color: #419751;
  color: white;
  border-radius: 4vmin;
  padding-bottom: 1%;
  padding-top: 1%;
  font-size: 3vmin;
  z-index: 100;
}

.forgotPassword {
  font-size: 2.5vmin;
  text-align: center;
  margin-top: 3%;
}

.btnforgotPassword {
  font-size: 2.5vmin;
  font-weight: bold;
  color: #429451;
  background-color: transparent;
  text-decoration: none;
}

.home-image {
  transition: 1.1s 0.4s ease-in-out;
  width: 80vmin;
  height: auto;
  margin-top: 5vmin;
  margin-left: 12vmin;
}

@media only screen and (max-width: 1000px) {
  .home-image {
    transition: 1.1s 0.7s ease-in-out;
    width: 100%;
    height: auto;
  }
}

@media only screen and (max-width: 662px) {
  .mat-card {
    transition: 1.1s 0.7s ease-in-out;
    margin-top: 25%;
    margin-left: auto;
    margin-right: auto;
  }

  .home-image {
    display: none;
  }
}

::placeholder {
  font-size: 2.6vmin;
}