<form class="container">
<mat-form-field class="wrapper" appearance="fill">
    <mat-label>Current password</mat-label>
    <input
    matInput
    type="password"
    placeholder="Type your password here"
    id="password"
    name="password"
    required
    #message
    minlength="8"
    />
</mat-form-field>

<mat-form-field class="wrapper" appearance="fill">
    <mat-label>New password</mat-label>
    <input
    matInput
    type="password"
    placeholder="Type your new password here"
    id="n_password"
    name="n_password"
    required
    #message
    minlength="8"
    />
</mat-form-field>

<mat-form-field class="wrapper" appearance="fill">
    <mat-label>Confirm password</mat-label>
    <input
    matInput
    type="password"
    placeholder="Confirm your new password here"
    id="c_password"
    name="c_password"
    required
    #message
    minlength="8"
    />
</mat-form-field>
<div mat-card-actions class="actions">
    <button
    mat-dialog-close
    mat-raised-button
    class="btnCancel"
    type="button"
    data-dismiss="modal"
    >
    Cancel
    </button>
    <button mat-raised-button class="btnSave" type="submit">Save</button>
</div>
</form>
