@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.container {
  width: 80vmin;
  /* height: 48vmin; */
}

.wrapper {
  width: 100%;
}

.actions {
  text-align: end;
  margin-top: 1.5vmin;
  display: flex;
  justify-content: center;
}

.btnCancel {
  background-color: #b0b0b0;
  color: white;
  margin-right: 2vmin;
  width: 33vmin;
}

.btnSave {
  background-color: #398547;
  color: white;
  width: 33vmin;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

button:hover,
button:focus {
  outline: none;
}
