.container {
  width: 500px;
  min-height: 200px;
}

.wrapper {
  width: 100%;
}

mat-label {
  font-size: 15px;
}

.actions {
  text-align: end;
}

.btnCancel {
    margin-right: 1%;
    background-color: rgb(201, 65, 65);
    color: white;
}

.btnSave {
    background-color: #55a964; 
    color: black;
}

.fa-eye-slash:hover,
.fa-eye:hover {
  cursor: pointer;
}

button:hover, button:focus {
  outline: none;
}