<!-- --------------------------------------HOME SECTION--------------------------------------------- -->
<ng-container *ngIf="post">
  <section class="home-section">
    <nav class="navbar navbar-light bg-light">
      <span class="label"><a [routerLink]="['/']">
          <i class="bx bx-left-arrow-alt" style="font-size: 22px"></i> </a>Comment</span>
    </nav>

    <div class="post-card" fxLayoutAlign="center start" fxFlexFill>
      <div class="card" fxFlex="96.5" style="margin-top: 5%">
        <div class="row">
          <div class="col-sm-1">
            <div class="card-body">
              <div class="avatar">
                <img src="{{ post[0].avatar_fld }}" alt="" />
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card-body post-card-details">
              <p class="card-title">
                {{ post[0].fname_fld }} {{ post[0].mname_fld }}
                {{ post[0].lname_fld }}
              </p>
              <p class="card-subtitle">
                {{ post[0].program_fld }} |
                {{ post[0].date_created_TS_fld | date: "short" }}
              </p>
            </div>
          </div>
        </div>
        <div class="card-content">
          <p>
            {{ post[0].content_fld }}
          </p>
        </div>

        <!-- ---------------------------------------ALL COMMENTS IN ONE POST------------------------------------ -->
        <ng-container *ngFor="let c of comments">
          <div class="margin-comments">
            <div class="post-card mat-elevation-z0">
              <mat-card fxFlex="100">
                <mat-card-header>
                  <div mat-card-avatar>
                    <img src="http://localhost:5000/uploads/{{ c.avatar_fld }}" alt="" />
                  </div>
                  <mat-card-title>
                    {{ c.fname_fld }} {{ c.mname_fld }} {{ c.lname_fld }}
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{ c.program_fld }} |
                    {{ c.date_created_TS_fld | date: "short"}}
                  </mat-card-subtitle>

                  <div *ngIf="student">
                      <ng-container *ngIf="student.studid_fld == c.studid_fld">
                        <mat-card-actions class="posts_btn-container">
                          <button class="posts_btn" mat-icon-button [matMenuTriggerFor]="option">
                            <i class="bx bx-dots-horizontal-rounded"></i>
                          </button>
                          <mat-menu #option="matMenu">
                            <button mat-menu-item (click)="editComment(c.comment_uid)">
                              <i style="margin-right: 8%" class="bx bx-edit"></i>Edit
                            </button>
                            <mat-divider style="width: 90%; margin-left: 5%" class="posts_mat-divider"></mat-divider>
                            <button mat-menu-item (click)="deleteComment(c.comment_uid)">
                              <i style="margin-right: 8%" class="bx bx-trash"></i>Delete
                            </button>
                          </mat-menu>
                        </mat-card-actions>
                      </ng-container>
  
                    
                  </div>

                </mat-card-header>

                <mat-card-content>
                  <p>{{ c.content_fld }}</p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </ng-container>
        <!-- ---------------------------------------ALL COMMENTS IN ONE POST ENDS HERE------------------------------------ -->
        <div class="row">
          <div class="col-12">
            <div class="card-body">
              <form ngNativeValidate action="posts/{{ post[0].post_uid }}/comments" method="post"
                (submit)="doComment($event)">
                <div class="comment-panel">
                  <mat-form-field appearance="fill">
                    <input matInput #message maxlength="256" placeholder="Write a comment..." id="content"
                      name="content" required />
                  </mat-form-field>
                  <div mat-card-actions class="actions">
                    <button mat-button class="btnSave" type="submit">
                      <i class="bx bx-paper-plane" style="font-size: 20px"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</ng-container>