@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.home-section {
  position: relative;
  background: #fff;
  top: 0;
  left: 4.875rem;
  width: calc(100% - 4.875rem);
  transition: all 0.5s ease;
  z-index: 2;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

.label {
  font-size: 1.5rem;
  margin-top: 0.313rem;
  font-weight: 500;
}

.label i {
  font-size: 1.563rem;
  color: black;
  margin-right: 0.45rem;
}

.navbar {
  position: fixed; 
  z-index: 99; 
  width: 100%;
}

section .post-card {
  margin-bottom: 1%;
  width: 100vmin;
}

section .card {
  border-radius: 0.938rem;
  background: white;
  color: black;
}

.post-card-details {
  margin-top: .5vmin;
  margin-left: -3vmin;
}

.post-card .card-title {
  font-size: 1.125rem;
  font-weight: 500;
  margin-top: .2rem;
}

.post-card .card-subtitle {
  font-size: 0.875rem;
  color: rgb(114, 114, 114);
}

.card-content {
  font-size: 0.95rem;
  color: black;
  margin-left: 1rem;
  margin-top: -1%;
}

.card-content1 {
  font-size: 0.95rem;
  color: black;
  margin-left: 1rem;
  margin-top: -1%;
}

.avatarIcon {
  height: 3.125rem;
  border-radius: 50%;
  width: 3.125rem;
}

.post-card .card-actions {
  text-align: end;
  margin-right: 2%;
}

button:hover, button:focus {
  outline: none;
}

::placeholder {
  font-size: 0.875rem;
  color: black !important;
  opacity: 80% !important;
}

.comment-panel .actions {
  text-align: end;
}

.margin-comments{
  margin-left: 1rem;
  margin-bottom: 0rem;
  width: 185vmin
}

.divider {
  background-color: rgba(0,0,0,.125);
}

.comment-panel {
  display: flex;
}

.replyIcon {
  height: 3.125rem;
  border-radius: 50%;
  width: 3.125rem;
  margin-top: 0.938rem;
  margin-right: 0.813rem;
}

.card-subtitle1 {
  font-size: 0.875rem;
  color: rgb(114, 114, 114);
  margin-top: -1rem
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.drop-down {
  margin-left: 97%;
  margin-top: -3.2rem;
}
