<!-- --------------------------------------HOME SECTION--------------------------------------------- -->
<ng-container *ngIf="post">
  <section class="home-section">
    <nav class="navbar navbar-light bg-light">
      <span class="label"
        ><a [routerLink]="['/']"> <i class="bx bx-left-arrow-alt"></i> </a
        >Comment</span
      >
    </nav>

    <div class="post-card" fxLayoutAlign="center start" fxFlexFill>
      <div class="card" fxFlex="96.5" style="margin-top: 5%">
        <div class="card-body">
          <div class="flex-container">
            <div>
              <img
                class="avatarIcon"
                src="http://localhost:5000/uploads/{{ post[0].avatar_fld }}"
                alt=""
              />
            </div>
            <div
              style="display: flex; flex-direction: column; margin-left: 0.8rem"
            >
              <p class="card-title">
                {{ post[0].fname_fld }} {{ post[0].mname_fld }}
                {{ post[0].lname_fld }}
              </p>

              <p class="card-subtitle1">
                {{ post[0].program_fld }}
              </p>
            </div>
          </div>
        </div>
        <!-- <div class="card-content" > -->
        <div class="card-body" style="margin-left: 4rem; margin-top: -2.5rem">
          <p>
            {{ post[0].content_fld }}
          </p>
          <img
            style="height: 50vmin; width: auto; border-radius: 5%;"
            src="https://pbs.twimg.com/media/FLvIsZ6XMAAJgp1?format=jpg&name=medium"
            alt=""
          />
          <p class="content-timestamp">
            {{ post[0].date_created_TS_fld | date: "short" }}
          </p>
        </div>

        <mat-divider class="divider"></mat-divider>

        <ng-container *ngFor="let c of comments">
          <div class="margin-comments">
            <div
              class="card border-top-0 border-right-0 border-left-0"
              fxFlex="99"
            >
              <mat-card-header class="card-body">
                <div class="flex-container">
                  <div>
                    <img
                      class="avatarIcon"
                      src="http://localhost:5000/uploads/{{ c.avatar_fld }}"
                      alt=""
                    />
                  </div>
                  <div
                    style="
                      display: flex;
                      flex-direction: column;
                      margin-left: 0.8rem;
                    "
                  >
                    <p style="font-size: 1.063rem">
                      {{ c.fname_fld }} {{ c.mname_fld }} {{ c.lname_fld }}
                    </p>
                    <p class="card-subtitle1">
                      {{ c.program_fld }} |
                      {{ c.date_created_TS_fld | date: "short" }}
                    </p>
                  </div>

                  <div *ngIf="student" class="drop-down">
                    <!-- <ng-container *ngIf="student.studid_fld == c.studid_fld"> -->
                    <mat-card-actions class="posts_btn-container">
                      <button
                        class="posts_btn"
                        mat-icon-button
                        [matMenuTriggerFor]="option"
                      >
                        <i
                          class="bx bx-dots-horizontal-rounded"
                          style="font-size: 3.2vmin"
                        ></i>
                      </button>
                      <mat-menu #option="matMenu">
                        <button
                          mat-menu-item
                          (click)="editComment(c.comment_uid)"
                        >
                          <i style="margin-right: 8%" class="bx bx-edit"></i
                          >Edit
                        </button>
                        <mat-divider
                          style="width: 90%; margin-left: 5%"
                          class="posts_mat-divider"
                        ></mat-divider>
                        <button
                          mat-menu-item
                          (click)="deleteComment(c.comment_uid)"
                        >
                          <i style="margin-right: 8%" class="bx bx-trash"></i
                          >Delete
                        </button>
                      </mat-menu>
                    </mat-card-actions>
                    <!-- </ng-container> -->
                  </div>
                </div>
              </mat-card-header>
              <!-- <div class="card-content1"> -->
                <div class="card-body" style="margin-left: 4rem; margin-top: -2.5rem">
                <p>{{ c.content_fld }}</p>
              </div>
            </div>
          </div>
        </ng-container>

        <div class="row" style="margin-top: -0.625rem">
          <div class="col-12">
            <div class="card-body">
              <form
                ngNativeValidate
                action="posts/{{ post[0].post_uid }}/comments"
                method="post"
                (submit)="doComment($event)"
              >
                <div class="comment-panel">
                  <div class="avatar">
                    <img
                      class="replyIcon"
                      src="http://localhost:5000/uploads/{{
                        student.avatar_fld
                      }}"
                      alt=""
                    />
                  </div>
                  <mat-form-field appearance="fill" style="width: 95%">
                    <input
                      matInput
                      #message
                      maxlength="256"
                      placeholder="Write a comment..."
                      id="content"
                      name="content"
                      required
                      style="width: 100%"
                    />
                  </mat-form-field>
                  <div mat-card-actions class="actions">
                    <button mat-button class="btnSave" type="submit">
                      <i
                        class="bx bx-paper-plane"
                        style="font-size: 1.25rem; margin-top: 2.5rem"
                      ></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-container>
