@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.container {
  /* height: 43vmin; */
  width: 80vmin;
}

mat-card-title {
  text-align: center;
  font-size: 3.2vmin;
  font-weight: bold;
}

.wrapper {
  margin-top: 1.6vmin;
  width: 100%;
}

mat-label {
  font-size: 2.5vmin;
}

textarea {
  height: 22.4vmin;
  font-size: 2.5vmin;
}

.actions {
  text-align: end;
  margin-top: 1.5vmin;
}

.btnCancel {
  background-color: #b0b0b0;
  color: white;
  margin-right: 2vmin;
  width: 12vmin;
}

.btnSave {
  background-color: #398547;
  color: white;
  width: 12vmin;
}

button:hover,
button:focus {
  outline: none;
}

input[type="file"] {
  display: none;
}

.change-avatar {
  border: none;
  border-radius: 50%;
  width: 7vmin;
  height: 7vmin;
  margin-top: -3vmin;
  /* background-color: rgba(135, 135, 135, 0.693); */
  /* margin-top: 7vmin; */
  /* margin-left: 12vmin; */
}

.drop-down {
  margin-left: 60%;
  margin-top: 2.5vmin;
}

.posts_btn {
  color: black;
  margin-top: -3.5vmin;
  margin-left: -4.5vmin;
}

.bi-image-fill {
  font-size: 2.5vmin;
  color: black  ;
}

.bi-camera {
  color: black;
  margin-right: .5rem;
  margin-left: 1rem;
  font-size: 2vmin;
}

.bi-images {
  color: black;
  margin-right: .5rem;
  margin-left: 1rem;
  font-size: 2vmin;
}