<form
  class="container"
  ngNativeValidate
  action="/post/compose"
  method="post"
  (submit)="doCompose($event)"
>
  <div style="text-align: center">
    <mat-card-title>Create Post</mat-card-title>
  </div>
  <mat-form-field class="wrapper" appearance="fill">
    <mat-label>Hi, GCIAN! What's on your mind?</mat-label>
    <textarea
      type="textarea"
      id="content"
      name="content"
      required
      matInput
      #message
      maxlength="256"
      placeholder="Ex: GCIAN is a great app..."
    ></textarea>
    <mat-hint align="end">{{ message.value.length }} / 256 </mat-hint>
  </mat-form-field>

  <div mat-card-actions class="actions">
    
    <button
      mat-dialog-close
      mat-raised-button
      class="btnCancel"
      type="button"
      data-dismiss="modal"
    >
      Cancel
    </button>
    <button mat-raised-button class="btnSave" type="submit">Post</button>
  </div>
</form>


<!-- hindi ko alam bat natritriger ung post button kapag nakapasok sya sa <form> tag -->
<div>
  <button class="change-avatar">
    <div class="drop-down">
      <mat-card-actions>
        <button
          class="posts_btn"
          mat-icon-button
          [matMenuTriggerFor]="option"
        >
        <i class="fas fa-image" style="color: #398547"></i>
        </button>
        <mat-menu #option="matMenu">
          <button mat-menu-item>
            <input type="file" id="file" accept="image/*" (change)="selectedFile($event)"/>
            <label for="file">
              <i class="bi bi-images"></i>Gallery
            </label>
          </button>
          <mat-divider
            style="width: 90%; margin-left: 5%"
            class="posts_mat-divider"
          ></mat-divider>
          <button mat-menu-item href (click)="webcam()">
            <i class="bi bi-camera"></i>Camera
          </button>
        </mat-menu>
      </mat-card-actions>
    </div>
  </button>
  &nbsp;
  <span>{{filename}}</span>
</div>
