@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.home-section {
  position: relative;
  background: #fff;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}

/* ------------------------------ SIDE NAV CSS ENDS HERE ------------------------------ */
.header {
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 18px; 
  font-weight: bold;
}

.navbar {
  position: fixed; 
  z-index: 99; 
  width: 100%;
}

.nav-spacer {
  height: 30px;
}

.table {
    padding: 50px;
    font-size: 15px;
}

.all-posts-card {
    width: 90%;
    background: white;
    color: black;
    padding: 20px 30px;
    margin: 0 auto;
    float: none;
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.3);
}

.button .far {
  display: flex;
  cursor:pointer;
}

.fa-eye {
  color: #398547;
}

.fa-trash-alt {
  color: red;
}

button:hover, button:focus {
  outline: none;
}

.search-container{
  display: flex;
  color: #398547;
}

.pagination {
  display: flex;
  justify-content: center;
  border: none;
  padding: 20px;
}

a {
  background-color: white;
  padding: 15px;
  color: #398547;
}

a.sec:hover {
  text-decoration: none;
  background-color: #4ca05c;
  color: black;
}

.acceptBtn{
  display: flex;
  justify-content: flex-end; 
  padding-bottom: 10px;
}

.container{
  width: 70vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
