<!-- --------------------------------------HOME SECTION--------------------------------------------- -->
    <section class="home-section">
      <nav class="navbar navbar-light bg-light">
        <span class="label">GChat</span>
      </nav>

      <div class="container">
        <div class="chat-box" style="margin-top: 5%">
          <!-- main chat section -->
          <div class="chats">
            <div class="chat-flex">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTxl-vi-iqxgO9FOcrfIm4VMoKg_7jx63mPMw&usqp=CAU"
                alt=""
                class="one"
              />
              <div class="client-chat">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, libero eos! Culpa aspernatur, repellendus architecto laborum quia provident ipsum nemo est iusto voluptatibus saepe dolorum nulla inventore magni tempora sit.</div>
            </div>
            <div class="chat-flex">
              <img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvssmtGNdFjoSjNsyPQZLFvaBeN2FvdAB68g&usqp=CAU"
                alt=""
                class="one"
              />
              <div class="client-chat">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta, libero eos! Culpa aspernatur, repellendus architecto laborum quia provident ipsum nemo est iusto voluptatibus saepe dolorum nulla inventore magni tempora sit.</div>
            </div>
            <div class="chat-flex">
              <div class="my-chat">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, dolores repudiandae. Eaque maiores qui quos magnam ipsa animi, hic sit minus veritatis! Ex reprehenderit dignissimos ducimus nulla placeat, omnis sapiente.</div>
              <img
                src="https://i.scdn.co/image/ab6761610000e5eb006ff3c0136a71bfb9928d34"
                alt=""
                class="one"
              />
            </div>
          </div>

          <!-- input field section -->
          <div class="chat-input">
            <button type="button" class="attach-btn">
              <input type="file" id="file" accept="image/*" />
              <label for="file"> <i class="bx bx-paperclip"></i> &nbsp; </label>
            </button>
            <input type="text" placeholder="Enter Message" />
            <button class="send-btn">
              <i class="bx bx-paper-plane" style="font-size: 25px"></i>
            </button>
          </div>
        </div>
      </div>
    </section>