@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

#heading {
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  text-shadow: 1.5px 1.5px rgb(0, 15, 100);
  color: rgb(16, 38, 238);
  background-color: rgb(100, 164, 248);
  position: sticky;
  position: -webkit-sticky;
}

/* -------------------------------------------------------- */

.flex-container {
  width: 100vw;
  display: flex;
  margin-left: 30vmin;
  margin-top: 15vmin;
  overflow: hidden;
  flex-flow: row;
}

@media (max-width: 768px) {
  .flex-container {
    /* margin-bottom: 5vmin; */
    flex-flow: column;
  }
}

.flex-column {
  margin-top: 20vmin;
  margin-right: 25vmin;
  margin-bottom: 11vmin;
}

.container {
  margin-top: 1vmin;
  width: 100vw;
}

.home-image {
  height: 70vmin;
}

.btnLand {
  font-size: 2.8vmin;
  margin-top: 1.1vmin;
}

.flex-gap {
  display: inline-flex;
  flex-wrap: wrap;
}

.flex-gap > div {
  margin: 6px;
  height: 400px;
  color: black;
  background-color: red;
}

.footer {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
}
