@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #398547;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #4ca05c;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li a .links_name {
  color: black;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}

.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}

.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  transition: all 0.5s ease;
  overflow: hidden;
}

.home-section {
  position: relative;
  background: #fff;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
/* ------------------------------ SIDE NAV CSS ENDS HERE ------------------------------ */
.label {
  font-size: 23px;
  margin-top: 5px;
  font-weight: 500;
}

.label i {
  font-size: 25px;
  color: black;
}

.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
}


img {
  max-width: 100%;
}
.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac {
  margin: 20px 0 0;
}

.recent_heading {
  float: left;
  width: 40%;
}

.headind_srch {
  padding: 10px 29px 10px 20px;
  overflow: hidden;
  border-bottom: 1px solid #c4c4c4;
}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}

.chat_ib h5 {
  font-size: 15px;
  color: #464646;
  margin: 0 0 8px 0;
}
.chat_ib h5 span {
  font-size: 13px;
  float: right;
}
.chat_ib p {
  font-size: 14px;
  color: #989898;
  margin: auto;
}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people {
  overflow: hidden;
  clear: both;
}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat {
  height: 550px;
  overflow-y: scroll;
}

.active_chat {
  background: #ebebeb;
}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
}
.received_withd_msg p {
  background: #e4e8fb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 10px;
  margin: 3px 0 0;
}
.received_withd_msg {
  width: 70%;
}
.mesgs {
  float: left;
  padding: 40px;
}

.sent_msg p {
  background: #3f51b5 none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0;
  color: #fff;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.outgoing_msg {
  overflow: hidden;
  margin: 26px 0 26px;
}
.sent_msg {
  float: right;
  width: 70%;
  text-align: right;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging {
  background: #fff;
}
.msg_history {
  max-height: 516px;
  overflow-y: auto;
}

.credit {
  margin-bottom: 20px;
  margin-top: 20px;
}

.credit a {
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  border-bottom: dotted 1px;
}

.chat-input {
  display: flex;
  align-items: center;
  width: 82%;
  height: 65px;
  background-color: #fff;
  padding: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  position: fixed; 
  z-index: 99; 
  margin-left: -12%;
}

.chat-input input {
  width: calc(100% - 40px);
  height: 100%;
  background-color: #4f5d7321;
  border-radius: 50px;
  color: #000;
  font-size: 1em;
  padding: 0 15px;
}

attach-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: black;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}

input[type="file"] {
  display: none;
}

.bx-paperclip {
  font-size: 30px; 
  transform: rotate(140deg); 
  color: black; 
  margin-top: 4px;
}

button:hover, button:focus {
  outline: none;
}

.send-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}

.attach-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  color: black;
  overflow: hidden;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}

.add-room {
  width: 40px;
  height: 40px;
  background-color: transparent;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border: none;
}

.bx-layer-plus {
  font-size: 25px; 
  /* float: right;  */
  /* margin-right: 15px; */
  margin-left: 30px;
}