<form class="container">
    <div mat-card-actions class="actions">
      <button
        mat-dialog-close
        mat-icon-button
        class="btnCancel"
        type="button"
        data-dismiss="modal"
      >
        <i class="bx bx-x"></i>
      </button>
    </div>
    <mat-form-field class="wrapper" appearance="fill">
      <input matInput #message maxlength="256" placeholder="Write a comment..." />
    </mat-form-field>
    <div mat-card-actions class="actions">
      <button mat-raised-button class="btnSave" type="submit">Save</button>
    </div>
  </form>