<form ngNativeValidate class="container" (submit)="doReport($event)">
  <p class="details">Help us understand the problem. What is going on with this post?</p>
  <mat-form-field appearance="fill" class="wrapper">
    <mat-label>Concern</mat-label>
    <mat-select
      matNativeControl
      placeholder="Select One"
      [(value)]="concern"
      required
    >
      <mat-option value="Suspicious or spam">Suspicious or spam</mat-option>
      <mat-option value="Abusive or harmful">Abusive or harmful</mat-option>
      <mat-option value="Hate speech">Hate speech</mat-option>
      <mat-option value="False information">False information</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="concern" appearance="fill">
    <mat-label>Hi, GCIAN! What's your concern?</mat-label>
    <textarea
      matInput
      #message
      maxlength="256"
      placeholder="Hi, GCIAN! Please, expound your concern."
      id="content"
      name="content"
      required
    ></textarea>
    <mat-hint align="end">{{ message.value.length }} / 256 </mat-hint>
  </mat-form-field>
  <div mat-card-actions class="actions">
    <button
      mat-dialog-close
      mat-raised-button
      class="btnCancel"
      type="button"
      data-dismiss="modal"
    >
      Cancel
    </button>
    <button mat-raised-button class="btnSubmit" type="submit">Submit</button>
  </div>
</form>
