<div class="container">
    <div style="text-align: center">
      <mat-card-title>Are you sure you want to update Chatroom Request?</mat-card-title>
    </div>
    <div class="wrapper">
      <mat-card-subtitle class="subtitle"
        >
        This can’t be undone and it will updated the Chatroom Request permanently.
      </mat-card-subtitle>
    </div>
    <div mat-card-actions class="actions">
      <div>
        <button
          mat-dialog-close
          mat-raised-button
          class="btn-danger btnCancel"
          type="button"
          data-dismiss="modal"
        >
          Cancel
        </button>
      </div>
      <div style="margin-bottom: 0.8vmin">
        <button mat-raised-button class="btn-success btnDelete" (click)="updateChatroom($event)">
          Update
        </button>
      </div>
    </div>
  </div>
  