<div class="example-form">
  <mat-card-title>Delete post?</mat-card-title>
  <div class="wrapper">
    <mat-card-subtitle class="subtitle"
      >This can’t be undone and it will be removed from your profile
      permanently.
    </mat-card-subtitle>
  </div>
  <div mat-card-actions class="actions">
    <div style="margin-bottom: 5px;">
      <button mat-raised-button class="btnDelete" (click)="deletePost($event)">
        Delete
      </button>
    </div>
    <div>
      <button
        mat-dialog-close
        mat-raised-button
        class="btnCancel"
        type="button"
        data-dismiss="modal"
      >
        Cancel
      </button>
    </div>
  </div>
</div>